
<h1> Welcome to the registration page!</h1>


{% if verz == 'GET' %}
<h1> Please select a username and password <h1>
{% if ar %}
    <h1> You've already attempted to register {{ ar }} </h1>
{% endif %}

<form action="/polls/register/" method="post">
    {% csrf_token %}
    <label for="uname">Username:</label><br>
    <input type="text" id="uname" name="uname"><br>
    <label for="pword">Password:</label><br>
    <input type="text" id="pword" name="pword">
    <input type="submit" value="Submit">
</form>

{% elif verz == 'POST' %}

    {% if succeeded %}
        <h1> You successfully registered, {{username}}!</h1>
    {% else %}
        <h1> That username is already taken </h1>
    {% endif %}


{% else %}

<h1> You didn't post or get..???</h1>

{% endif %}

